psycopg2==2.9.3
Flask-SQLAlchemy==2.5.1 
Flask-Migrate==2.5.2
click==8.1.3
Flask==2.2.2
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Werkzeug==2.2.2
gTTS==2.2.4
PyAudio==0.2.12
SpeechRecognition==3.8.1
flask-session
python-dotenv
Flask-WTF
email_validator
Flask-Bcrypt
Flask-Login
phonenumbers
Flask-Script
playsound